label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + span{ /* IMAGE STYLES */
  cursor:pointer;
}
label > input:checked + span{ /* (RADIO CHECKED) IMAGE STYLES */
  border:5px solid black;
}

#timer {
	float: right;
}